- content_for :header do
  %section.content-header
    = breadcrumbs
    %h1
      = @title
.row
  .col-md-8
    .box
      .box-header
        %h4.box-title= @title
      .box-body.table-responsive.nopadding
        %table.table.table-hover
          %tr
            %td
              Name
            %td
              Members
          %tr
            - @gifts.each do |gift|
              %tr
                %td
                  = link_to gift.name, administration_gift_path(gift)
                %td
                  = gift.people.length
                %td.actions
                  = link_to t('admin.gifts.edit'), administration_gift_path(gift), class: 'label label-info'
  .col-md-4
    .box.box-info
      .box-header
        %h3.box-title= t('admin.add_gift')
      .box-body
        = render partial: 'form'